/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Venus';
    src: url('assets/Fonts/venusrising.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: url('assets/Fonts/OpenSans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
